.button{
    min-width:128px;
    font-size: 1rem;
    font-family: var(--type-primary);
    cursor: pointer;
    border:none;
    border-radius: 6px;
    background-color: #FB1;
    color: #764701;
    padding: 13px 19px;
    box-sizing: border-box;
    transition: 0.1s;
}

.button:hover,
.button:focus{
    outline: none;
    box-shadow: 0 0 0 3px #FEA, 0 0 0 4px #FB1;
}

.button:disabled{
    opacity: 0.5;
    cursor: wait;
}