.wrapper {
    margin-bottom: 16px;
}

.input{
    border: 1px solid #EEE;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 13px;
    border-radius: 6px;
    background-color: #EEE;
    transition: 0.2s;
}

.input:focus,
.input:hover{
    outline:none;
    border-color: #FB1;
    background-color: #FFF;
    box-shadow: 0 0 0 3px #FEA;
}

.label{
    font-size: 16px;
    display: block;
    line-height: 1;
    padding-bottom: 8px;
}

.error{
    color: #F31;
    font-size: 14px;
}