*{
    box-sizing: border-box;
}

body{
    padding-top: 4rem;
    margin: 0px;
    color: #333;
    --type-primary: Helvetica, Arial, sans-serif;
    --type-secondary: 'Spectral', Georgia;
    font-family: var(--type-primary);
}

h1, h2, h3, h4, p{
    margin: 0px;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img{
    display: block;
    max-width: 100%;
}

button, input{
    display: block;
    font-size:1rem;
    font-family: var(--type-primary);
    color: #333;
}

a{
    text-decoration: none;
}

.container{
    max-width: 800px;
    padding: 0 16px;
    margin: 0 auto;
}